div{
  position: relative;
  width: 100%;
}
#p1{
  position: absolute;
  left: 50px;
  top: 20px;
  border: 1px solid red;
}
#showImg{
  width: 100px;
  height: 100px;
  overflow: hidden;
}
#preview{
  position: absolute;
}